version: '3.8'

services:
  web:
    image: pyari11/studentresult:latest
    ports:
      - "8080:80"
    depends_on:
      - mysql
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=studentresultdb

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: studentresultdb
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
